<div class="footer-about">
	<div class="footer-about-inner">
			<p>
				Open source, MIT licensed.<br>
				Copyright {{ site.time | date: '%Y' }}
				<a href="https://twitter.com/10up">@leogopal</a> 
			</p>
	</div>
</div>

<footer role="contentinfo">
	<div class="page-footer-content">
			<div class="footer-social social-networks">
				<a href="https://twitter.com/leogopal" class="twitter"><span class="screen-reader-text">Twitter: @leogopal</span></a>
				<a href="https://github.com/leogopal" class="github"><span class="screen-reader-text">Github</span></a>
			</div>
	</div>
</footer>
